@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;500;700;900&display=swap');

body { 

  font-family: 'Noto Serif TC', serif;
  line-height: 1.5;
  font-weight: 500;

}

textarea { resize: none; }

img { max-width: 100%; }

.text-description {

  font-family: inherit;
  font-size: 1rem;
  line-height: 2;
  white-space: pre-wrap;

}

.nav-link.active {

  color: #2B5F75;
  font-weight: 700;

}